@import url('fonts.css');

/* ANIMATIONS */

.bannermove1 {
    -webkit-animation: bannermove1 50s linear infinite;
       -moz-animation: bannermove1 50s linear infinite;
        -ms-animation: bannermove1 50s linear infinite;
         -o-animation: bannermove1 50s linear infinite;
            animation: bannermove1 50s linear infinite;
}
 
@keyframes "bannermove1" {
	0% {
    	margin-left: 0px;
	}
	100% {
	    margin-left: -2910px;
	}
}
 
@-moz-keyframes bannermove1 {
	0% {
		margin-left: 0px;
	}
 100% {
 		margin-left: -2910px;
	}
}
 
@-webkit-keyframes "bannermove1" {
	0% {
		margin-left: 0px;
	}
	 100% {
		margin-left: -2910px;
	}
}
 
@-ms-keyframes "bannermove1" {
	0% {
		margin-left: 0px;
	}
	100% {
		margin-left: -2910px;
	}
}
 
@-o-keyframes "bannermove1" {
	0% {
		margin-left: 0px;
	}
	100% {
		margin-left: -2910px;
	}
}

.bannermove2 {
    -webkit-animation: bannermove2 30s linear infinite;
       -moz-animation: bannermove2 30s linear infinite;
        -ms-animation: bannermove2 30s linear infinite;
         -o-animation: bannermove2 30s linear infinite;
            animation: bannermove2 30s linear infinite;
}
 
@keyframes "bannermove2" {
	0% {
    	margin-left: 0px;
	}
	100% {
	    margin-left: -2100px;
	}
}
 
@-moz-keyframes bannermove2 {
	0% {
		margin-left: 0px;
	}
 100% {
 		margin-left: -2100px;
	}
}
 
@-webkit-keyframes "bannermove2" {
	0% {
		margin-left: 0px;
	}
	 100% {
		margin-left: -2100px;
	}
}
 
@-ms-keyframes "bannermove2" {
	0% {
		margin-left: 0px;
	}
	100% {
		margin-left: -2100px;
	}
}
 
@-o-keyframes "bannermove2" {
	0% {
		margin-left: 0px;
	}
	100% {
		margin-left: -2100px;
	}
}



/* GET TO THE GOOD STUFF */

body, html {
	font-family: 'Skolar', Times;
	font-size: 18px;
	color: rgb(60, 66, 75);
	-webkit-font-smoothing: antialiased;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	background: #fcfdfe;
}

.hidden {
	display: none;
}

.serif {
	font-family: 'Skolar', Times;
}

header {
	height: 145px;
	border-bottom: 1px solid #eaeaec;
	background: white;
}

header div.face-wrap {
	padding: 5px;
	width: 128px;
	height: 128px;
	border: 1px solid #e4e4e4;
	border-radius: 100px;
	display: inline-block;
	position: absolute;
	background: white;
	top: 24px;
	left: -4px;
}

header div.face-wrap img {
	width: 128px;
	height: 128px;
	border-radius: 64px;
	-moz-border-radius: 64px;
}

header h1#name {
	color: #3562ac;
	font-size: 34px;
	margin: 0;
	position: absolute;
	top: 84px;
	left: 165px;
}

header .btn-group {
	position: absolute;
	right: 0;
	top: 85px;
}

#blog-header {
	height: 92px;
}

#blog-header div.face-wrap {
	top: -20px;
}

#blog-header h1#name {
	top: 33px;
	left: 95px;
}

#blog-header .btn-group {
	top: 34px;
}

header a.back-to-home {
	top: 22px;
	left: 0px;
	position: absolute;
}

span.home-ico {
	width: 26px;
	height: 26px;
	display: inline-block;
	background: url('../img/sprite.png') -31px -17px;
}

span.caret {
	width: 12px;
	height: 7px;
	display: inline-block;
	background: url('../img/sprite.png') -27px 0px;
}

i.twitter-ico {
	display: inline-block;
	width: 17px;
	height: 16px;
	background: url('../img/sprite.png') 0px 0px;
}

.btn.btn-twitter {
	padding: 6px 11px 1px 14px;
}

.btn.btn-caret {
	padding: 5px 8px 5px;
	position: relative;
}

.btn.btn-caret .dropdown {
	display: none;
}

.btn.btn-caret:hover {
	padding-bottom: 12px;
}

.btn.btn-caret:hover .dropdown {
	display: block;
}

.btn.btn-caret .dropdown {
	background: #5493f7;
	border-bottom: 2px solid #3765ad;
	position: absolute;
	z-index: 100;
	top: 33px;
	right: 0;
	width: 170px;
	border-radius: 3px 0 3px 3px;
	overflow: hidden;
}

.btn.btn-caret .dropdown li {
	padding: 0;
	margin: 0;
	list-style: none;
}

.btn.btn-caret .dropdown li a {
	padding: 13px 16px 8px;
	color: white;
	display: block;
	border-bottom: 1px solid rgb(85, 136, 221);
	font-size: 16px;
	font-family: 'Skolar';
}

.btn.btn-caret .dropdown li a:hover {
	background: #5c99f9;
	text-decoration: none;
}

.btn.btn-caret .dropdown li a.small {
	font-size: 13px;
}

.btn.btn-caret .dropdown li:last-child a {
	border-bottom: none;
}

i.icon-github {
	display: inline-block;
	width: 16px;
	height: 16px;
	background: url('../img/sprite.png') -1px -28px;
	vertical-align: top;
	margin: 1px 7px 0 0;
}

i.icon-linkedin {
	display: inline-block;
	width: 16px;
	height: 16px;
	background: url('../img/sprite.png') -1px -75px;
	vertical-align: top;
	margin: 1px 7px 0 0;
}

i.icon-facebook {
	display: inline-block;
	width: 16px;
	height: 16px;
	background: url('../img/sprite.png') -1px -123px;
	vertical-align: top;
	margin: 1px 7px 0 0;
}

i.icon-email {
	display: inline-block;
	width: 16px;
	height: 16px;
	background: url('../img/sprite.png') -1px -171px;
	vertical-align: top;
	margin: 1px 7px 0 0;
}



.container {
	margin: 0 auto;
	display: block;
	width: 560px;
	position: relative;
}

h1,
h2,
h3{
	text-transform: uppercase;
	font-family: 'Gotham-Bold';
	color: #3f444a;
}

h2 {
	font-size: 20px;
	margin-bottom: 26px;
}

h3 {
	margin: 40px 0 20px;
}

h2.inverted {
	color: white;
	text-shadow: 0 2px 3px rgba(0,0,0,.55), 0 0 10px rgba(0,0,0,.4);
}

h5 {
	font-size: 14px;
	font-family: 'Gotham-Bold';
	margin: 15px 0 5px;
	color: #3f444a;
}

a {
	text-decoration: none;
	color: #3562ac;
}

	a:hover {
		text-decoration: underline;
	}

ul {
	margin-bottom: 18px;
}

ul li {
	list-style: square outside;
	line-height: 1.4;
	padding-left: 4px;
	margin-bottom: 7px;
	margin-left: 23px;
}

p {
	line-height: 1.4;
	margin-bottom: 20px;
}

.blog-posts blockquote {
	font-style: italic;
	color: #868696;
	padding: 15px 15px 5px 15px;
	border: 1px dashed #CFC6C6;
	border-radius: 6px;
	margin-bottom: 14px;
	background: #FAFAFA;
}

.blog-posts blockquote p {
	margin: 0 0 10px 0;
	font-size: 20px;
}

h2.hero {
	font-family: 'Skolar';
	font-size: 26px;
	text-transform: none;
	padding: 10px 60px 15px 0;
	line-height: 1.2;
	margin: 0;
}

.btn {
	background: #548ce8;
	border-bottom: 2px solid #3765ad;
	padding: 12px 16px 8px;
	line-height: 1;
	border-radius: 3px;
	color: white;
	-webkit-font-smoothing: antialiased;
	display: inline-block;
	font-family: 'Skolar-SmbdItalic';
}

.btn:hover {
	text-decoration: none;
	background: #5493f7;
}

.btn:active {
	margin-top: 1px;
	border-bottom: 1px solid #3765ad;
}

.btn-group .btn {
	float: left;
	border-radius: 0;
	border-left: 1px solid #4577cb;
}

.btn-group .btn:first-child {
	border-radius: 3px 0 0 3px;
	border-left: none;
}

.btn-group .btn:last-child {
	border-radius: 0 3px 3px 0;
}

section {
	border-top: 1px solid #ececec;
	margin-top: 40px;
	padding-top: 40px;
	position: relative;
}

#about-section {
	margin-top: 0;
	border-top: none;
}

	span.italic {
		font-style: italic;
	}

	span.small {
		vertical-align: middle;
		display: inline-block;
		font-size: 14px;
		margin: 0 4px;
		color: #888;
	}

	span.fun-stuff {
		font-style: italic;
		font-size: 22px;
		margin: 0 7px;
		display: inline-block;
		vertical-align: middle;
	}

#photos-section {
	background: #bbb;
	padding-top: 0;
	position: relative;
	overflow: hidden;
}

#photos-section h2 {
	position: absolute;
	top: 40px;
	z-index: 1;
	pointer-events: none;
}

#photos-section:after {
	content: '';
	z-index: 400;
	box-shadow: inset 0 4px 29px rgba(0,0,0,.6);
	width: 100%;
	height: 100%;
	display: block;
	position: absolute;
	top: 0;
}

ul.blog-posts {
	list-style: none;
	margin-bottom: 24px;
}

ul.blog-posts li {
	margin: 0;
	padding: 0;
	position: relative;
	list-style: none;
	margin-bottom: 12px;
}

ul.blog-posts li a {
	font-size: 20px;
	padding: 0 90px 0 0;
}

ul.blog-posts li span {
	position: absolute;
	right: 0;
	top: 6px;
	font-size: 14px;
	color: #bbbbbb;
}

.carousel-row {
	display: block;
	width: 1000%;
	height: 260px;
	text-align: left;
}

ul.img-carousel {
	display: inline-block;
	height: 260px;
	overflow: hidden;
	margin: 0;
	padding: 0;
	float: left;
}

ul.img-carousel li {
	float: left;
	height: 260px;
	margin: 0;
	padding: 0;
	list-style: none;
}

ul.img-carousel li img {
	float: left;
	height: 260px;
}

ul.timeline {
	position: relative;
	margin-top: 38px;
}

ul.timeline li {
	list-style: none;
	padding: 0 0 30px 0;
	margin: 0;
	display: block;
	position: relative;
}

ul.timeline li:nth-child(n+4):not(.more) {
	display: none;
}

ul.timeline.full li:nth-child(n+4):not(.more) {
	display: block;
}

ul.timeline li p {
	margin-bottom: 0;
	color: rgb(88, 88, 95);
}

ul.timeline li .marker-wrap:after {
	content: '';
	position: absolute;
	display: block;
	width: 1px;
	background: #b9bccb;
	top: 57px;
	left: 28px;
	bottom: 0;
	z-index: -1;
}

ul.timeline li:last-child .marker-wrap {
	position: relative;
	z-index: 1;
}

ul.timeline li:last-child .marker-wrap:after {
	display: none;
}

ul.timeline li .marker-wrap {
	width: 56px;
	height: 56px;
	display: inline-block;
	float: left;
	border: 1px solid #b9bccb;
	border-radius: 100px;
	margin-right: 28px;
	background: white;
}

ul.timeline li .marker {
	display: inline-block;
	background: #e9eaf0;
	border-radius: 100px;
	width: 45px;
	height: 35px;
	margin: 5px;
	text-align: center;
	line-height: 13px;
	padding: 11px 0 0 1px;
	font-size: 11px;
	font-family: 'Gotham Bold';
	color: rgb(122, 124, 136);
}

ul.timeline li .marker span.date {
	display: block;
	font-size: 18px;
	margin-top: 2px;
	margin-left: 1px;
}

ul.timeline li .marker span.ellipsis {
	font-size: 18px;
	margin: 3px;
	display: inline-block;
	width: 34px;
}

ul.timeline li .marker span.down-month {
	display: inline-block;
	margin-top: 9px;
	font-size: 13px;
}

ul.timeline li .media-body {
	overflow: hidden;
	display: table-cell;
	vertical-align: middle;
	height: 66px;
}

ul.timeline li .media-body h4 {
	font-size: 22px;
	line-height: 1.2;
	padding: 7px 0;
}

ul.timeline a.btn-bordered {
	background: #ecedf5;
	border: 1px solid rgb(210, 214, 226);
	color: #555b7e;
	position: absolute;
	z-index: 0;
	left: 40px;
	top: 9px;
	padding: 11px 46px 7px;
	font-size: 22px;
}

ul.timeline a.btn-bordered:hover {
	background: rgb(234, 235, 245);
	border: 1px solid rgb(192, 197, 211);
}


/* BLOG POSTS */

#blog-header .container,
h1.blog-title,
div.blog-article,
div.blog-footer section.container {
	width: 640px;
}

.blog-title-wrap {
	border-bottom: 1px solid #eee;
	padding: 48px 0 40px 0;
	margin-bottom: 40px;
	background: url('../img/blog_bg.png') repeat;
}

h1.blog-title {
	margin: 0 auto 0;
	font-size: 34px;
	text-transform: none;
	font-family: 'Skolar';
	color: rgb(35, 65, 114);
}

.blog-article h2 {
	font-size: 20px;
	margin-bottom: 25px;
	margin-top: 40px;
	font-size: 22px;
	line-height: 1.3;
	color: rgb(89, 88, 92);
}

.blog-article ul li,
.blog-article ol li {
	list-style: square outside;
	line-height: 1.4;
	padding-left: 4px;
	margin-bottom: 7px;
	margin-left: 23px;
}

.blog-article blockquote {
	padding: 25px 25px 2px;
	background: rgb(248, 248, 248);
	border-radius: 5px;
	font-style: italic;
	margin-bottom: 30px;
	border: 1px dashed rgb(216, 216, 230);
	font-size: 20px;
}

.blog-article blockquote p {
	line-height: 1.25;
}

.blog-article p.small {
	font-size: 13px;
	color: #777;
}

.blog-article p.small img {
	width: auto;
	float: left;
	margin-right: 20px;
	margin-bottom: 10px;
	height: auto;
}

.blog-article hr {
	border: none;
	color: #eee;
	background-color: #eee;
	height: 1px;
	margin: 30px 0;
}

.blog-article img {
	width: 640px;
}

.blog-sharing {
	padding-bottom: 40px;
}

.blog-footer {
	background: white;
	border-top: 1px solid #eee;
	padding-bottom: 40px;
}

.blog-footer section {
	border-top: none;
}

a.footer-home {
	height: 16px;
	vertical-align: top;
	padding: 21px 25px 16px;
	margin: 0 auto;
	display: block;
	width: 99px;
}

a.footer-home span.home-ico {
	margin-top: -7px;
	margin-right: 17px;
}
