---
title: Zach Tratar
---

{% include header.html %}

<div class="body-wrap cf">
	<header class="main-header">
		<div class="header-wrap">
			<img class="face" src="img/face.png">
			<h1>Zach Tratar</h1>
      <p class="description">
        Experienced product & team builder.<br/>
        Software engineer. Designer.<br/>
        Founder, CEO at <a href="https://jobstart.com">Jobstart</a>.<br/><br/>
        I'm pretty excited for the future.
      </p>
			<ul class="about-links">
        <li>
          <a href="/about.html" class="btn btn-default about-me">About Me</a>
        </li>
        <li>
          <a href="/resume.html" class="btn btn-default about-me">LinkedIn</a>
        </li>
        <li>
          <a href="/resume.html" class="btn btn-default about-me">Twitter</a>
        </li>
        <li>
          <a href="/resume.html" class="btn btn-default about-me">Resume</a>
        </li>
			</ul>
		</div>
	</header>

	<div class="home-container">
    <h2>Projects & work</h2>
    <ul class="projects-stream">
      {% assign projects = site.projects | sort: 'date' %}
			{% for project in projects reversed %}
			{% if forloop.index < 5 %}
			<li>
      {% else %}
			<li class="project-default-hidden">
			{% endif %}
				<a href="{{ project.url }}">
					<h3>{{ project.title }}</h3>
          <p>{{ project.description }}</p>
				</a>
			</li>
			{% endfor %}
    </ul>
    <a href="#" class="show-more-projects">
      <i class="icon-chevron-down"></i>
      Show all projects
    </a>
    <h2>Blog</h2>
		<ul class="post-stream">
			{% for post in site.posts %}
			{% if forloop.index == 4 %}
		</ul>
		<ul class="post-images cf">
			<li>
				<a data-no-instant data-lightbox="img" href="/img/photos/a.jpg" style="background-image: url('/img/photos/a.jpg')"></a>
			</li>
			<li>
				<a data-no-instant data-lightbox="img" href="/img/photos/b.jpg" style="background-image: url('/img/photos/b.jpg')"></a>
			</li>
			<li>
				<a data-no-instant data-lightbox="img" href="/img/photos/c.jpg" style="background-image: url('/img/photos/c.jpg')"></a>
			</li>
		</ul>
		<ul class="post-stream">
			{% endif %}
			{% if forloop.index == 7 %}
		</ul>
		<ul class="post-images cf">
			<li>
				<a data-no-instant data-lightbox="img" href="/img/photos/d.jpg" style="background-image: url('/img/photos/d.jpg')"></a>
			</li>
			<li>
				<a data-no-instant data-lightbox="img" href="/img/photos/e.jpg" style="background-image: url('/img/photos/e.jpg')"></a>
			</li>
			<li>
				<a data-no-instant data-lightbox="img" href="/img/photos/f.jpg" style="background-image: url('/img/photos/f.jpg')"></a>
			</li>
		</ul>
		<ul class="post-stream">
			{% endif %}
			{% if forloop.index == 11 %}
		</ul>
		<ul class="post-images cf">
			<li>
				<a data-no-instant data-lightbox="img" href="/img/photos/g.jpg" style="background-image: url('/img/photos/g.jpg')"></a>
			</li>
			<li>
				<a data-no-instant data-lightbox="img" href="/img/photos/h.jpg" style="background-image: url('/img/photos/h.jpg')"></a>
			</li>
			<li>
				<a data-no-instant data-lightbox="img" href="/img/photos/i.jpg" style="background-image: url('/img/photos/i.jpg')"></a>
			</li>
		</ul>
		<ul class="post-stream">
			{% endif %}
			{% if forloop.index == 15 %}
		</ul>
		<ul class="post-images cf">
			<li>
				<a data-no-instant data-lightbox="img" href="/img/photos/j.jpg" style="background-image: url('/img/photos/j.jpg')"></a>
			</li>
			<li>
				<a data-no-instant data-lightbox="img" href="/img/photos/k.jpg" style="background-image: url('/img/photos/k.jpg')"></a>
			</li>
			<li>
				<a data-no-instant data-lightbox="img" href="/img/photos/l.jpg" style="background-image: url('/img/photos/l.jpg')"></a>
			</li>
		</ul>
		<ul class="post-stream">
			{% endif %}
			<li>
				<a href="{{ post.url }}">
					<h3>{{ post.title }}</h3>
					<span>{{ post.date | date_to_string }}</span>
				</a>
			</li>
			{% capture post_count %} {{ post_count | plus: 1 }} {% endcapture %}
			{% endfor %}
		</ul>
	</div>
</div>

<div class="custom-visible-sm">
	{% include footer.html %}
</div>

{% include scripts.html %}

</body>
</html>
