---
title: Zach Tratar
---

{% include header.html %}

	<header id="main-header">
		<div class="container header-primary-content">
			<div class="face-wrap fade-in">
				<img src="./img/face_white.png">
			</div>
			<h1 id="name" class="fade-in">
				Zach Tratar
			</h1>
			<p class="tagline fade-in">I note my journey here. Usually it's about products, computing, and thinking big.</p>
			<div class="header-buttons">
				<a href="/about" class="btn fade-in">About Me</a>
				<a href="http://twitter.com/zachtratar" target="_blank" class="btn btn-twitter fade-in">
					<i class="icon-twitter"></i>
				</a>
			</div>
		</div>
	</header>	

	<section id="main-page">
		<div>
			<h2>Writing</h2>
			<a href="#">
				<i class="rss-ico"></i>
			</a>
		</div>
		<ul class="post-cards">	
			{% for post in site.posts %}
			<li>
				<a href="{{ post.url }}">{{ post.title }}</a>
				<span>{{ post.date | date_to_string }}</span>
			</li>
			{% capture post_count %} {{ post_count | plus: 1 }} {% endcapture %}
			{% endfor %}
		</ul>
	</section>

{% include footer.html %}

