---
title: Zach Tratar
---

{% include header.html %}

<header>
	<img class="face" src="img/face.png">
	<h1>Zach Tratar</h1>
	<p class="description">Product at Backplane, designer of that which I believe in, engineer of systems to unite the world.</p>
	<div>
		<a class="about-me btn btn-default">About me</a>
	</div>
</header>

<div class="sticky-nav">
	<div class="container">
		<ul class="nav stream-filters pull-left">
			<li class="active"><a href="#" class="all">All</a></li>
			<li><a href="#" class="photos">Photos</a></li>
			<li><a href="#" class="writing">Writing</a></li>
		</ul>
		<div class="share-buttons pull-right">
			<div class="share-twitter-wrap">
				<a href="https://twitter.com/zachtratar" class="twitter-follow-button" data-show-count="true" data-width="220px">Follow @zachtratar</a>
			</div>
			<div class="share-facebook-wrap">
				<div class="fb-follow" data-href="http://www.facebook.com/ztratar" data-colorscheme="light" data-layout="button_count" data-show-faces="true"></div>
			</div>
		</div>
	</div>
</div>

<div class="container">
	<ul class="post-stream">
		{% for post in site.posts %}
		<li>	
			<a href="{{ post.url }}">
				<h3>{{ post.title }}</h3>
				<span>{{ post.date | date_to_string }}</span>
			</a>
		</li>
		{% capture post_count %} {{ post_count | plus: 1 }} {% endcapture %}
		{% endfor %}
	</ul>
</div>

{% include footer.html %}

