<div id="footer">
	<div class="container">
		<p><strong>Feel free to reach out!</strong> I usually ramble about startups, design, engineering, public policy, history, and philosophy.</p>
		<div class="fb-follow-container">
			<div class="fb-follow" data-href="http://www.facebook.com/ztratar" data-colorscheme="dark" data-layout="standard" data-show-faces="true" data-width="450"></div>
		</div>
		<div>
			<a href="/rss.xml" class="btn btn-default btn-default-light subscribe-btn"><i class="icon-rss"></i> Subscribe to my blog</a>
			<a href="https://twitter.com/zachtratar" class="twitter-follow-button" data-show-count="true" data-size="large">Follow @zachtratar</a>
		</div>
	</div>
</div>

{% include scripts.html %}
