<!DOCTYPE html>
<html>
<head>
	{% if page.title == 'Zach Tratar' %}
	<title>Zach Tratar</title>
	{% else %}
	<title>{{ page.title }} - Zach Tratar</title>
	{% endif %}
	{% if page.title == 'Zach Tratar' %}
	<meta name="title" content="Zach Tratar">
	{% else %}
	<meta name="title" content="{{ page.title }} - by Zach Tratar">
	{% endif %}
	<meta name="description" content="Designer of that which I believe in, engineer of systems to unite the world. Founder at Vibe.">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="utf-8">

	<link rel="stylesheet" href="/css/all.css" type="text/css">

  <link rel="icon"
      type="image/png"
      href="/img/favicon.png">

	<!-- Google Analytics.js -->
	<script>
	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	ga('create', 'UA-27467149-1', 'auto');
	ga('send', 'pageview');

	</script>
	<!-- End Google Analytics -->
</head>

<body>
	<div id="fb-root"></div>
