<!DOCTYPE html>
<html>
<head>
	{% if page.title == 'Zach Tratar' %}
	<title>Zach Tratar</title>
	{% else %}
	<title>{{ page.title }} - Zach Tratar</title>
	{% endif %}
	{% if page.title == 'Zach Tratar' %}
	<meta name="title" content="Zach Tratar">
	{% else %}
	<meta name="title" content="{{ page.title }} - by Zach Tratar">
	{% endif %}
	<meta name="description" content="Product at Backplane, designer of that which I belive in, engineer of systems to unite the world.">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="stylesheet" href="/css/all.css" type="text/css">
</head>

<body>
	<div id="fb-root"></div>
