{% bundle %} [/js/jquery.js, /js/underscore.js, /js/lightbox.js, /js/instantclick.js, /js/main.js] {% endbundle %}

<!-- INSTANTCLICK SETUP -->
<script type="text/javascript" data-no-instant>
	var initJSLibraries = function() {
		var indexFollowButton = $('.share-facebook-wrap');

		if (window.addthis && window.addthis.toolbox) {
			window.addthis.init();
			window.addthis.toolbox('#addthis_tb', undefined, {
				url: location.origin + location.pathname + location.search	
			});
		}

		if (window.FB) {
			if (indexFollowButton.length) {
				indexFollowButton.html('<div class="fb-follow" data-href="http://www.facebook.com/ztratar" data-colorscheme="light" data-layout="button_count"></div>');	
			}
			window.FB.XFBML.parse();
		}

		if (window.Lightbox && window.LightboxOptions) {
			new window.Lightbox(new window.LightboxOptions());
		}
	};

	InstantClick.on('change', function() {
		// Track the page view
		ga('send', 'pageview', location.pathname + location.search);
		initJSLibraries();
	});
	initJSLibraries();

	InstantClick.init('mousedown');
</script>

<!-- TWITTER SDK -->
<script data-no-instant>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

<! -- Facebook SDK -->
<script data-no-instant>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=234553156601167";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<!-- Twitter -->
<script data-no-instant>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

<!-- ADDTHIS -->
<script type="text/javascript" data-no-instant>var addthis_config = {"data_track_addressbar":true};</script>
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ztratar" data-no-instant></script>

