.post {
	background: white;

	.container {
		width: 100%;
		max-width: 740px;
		padding: 0 20px;
	}

	#post-header {
		padding: 30px 0;
		border: none;

		@media (max-height: 560px) {
			padding: 18px 0;
		}

		a {
			&:hover {
				text-decoration: none;

				i {
					color: darken(@color3, 10%);
				}
			}

			i {
				float: left;
				height: 26px;
				font-size: 26px;
				color: @color3;
			}
		}
	}

	.post-title-container {
		margin: 0 0 60px 0;
		background: #fcfcfc;
		position: relative;

		@media (max-width: 960px) {
			margin: 0 0 40px 0;
		}

		&.about-me {
			margin: 0 0 30px 0;

			@media (max-width: 960px) {
				margin: 0 0 -30px 0;
			}
		}
	
		&:after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			border-top: 1px solid rgba(0,0,0,.1);
			border-bottom: 1px solid rgba(0,0,0,.1);
			z-index: 1;
			pointer-events: none;
		}

		.bg-img {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			z-index: 10;
			background-size: cover;

			&:after {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				z-index: 12;
				background: black;	
				opacity: 0.44;
			}
		}

		.post-title-wrap {
			display: table;
			position: relative;
			z-index: 20;
			height: 440px;
			padding: 0;

			.transition(all 0.2s ease-in-out);

			@media (max-height: 630px) {
				height: 370px;
			}

			@media (max-height: 560px) {
				height: 310px;
			}

			&.about-me {
				height: 100px !important;

				.post-info h1 {
					margin-bottom: 10px;
				}
			}

			&.has-img {
				.post-info {
					text-shadow: 0 0 8px rgba(0,0,0,0.5);

					h1 {
						color: white;
					}
					span {
						color: white;

						a {
							color: white;
						}

						img.face {
							.box-shadow(~"0 0 5px rgba(0,0,0,0.3)");
						}
					}
				}
			}

			.post-info {
				display: table-cell;
				vertical-align: middle;

				h1 {
					font-size: 36px;
					margin-bottom: 20px;
				}
				span {
					font-size: 18px;
					color: @color4;

					a {
						font-family: 'Avenir-Heavy';
					}

					img.face {
						width: 32px;
						height: 32px;
						border-radius: 100px;
						margin: -7px 11px -4px 0;
					}
				}
			}
		}
	}

	.addthis_toolbox {
		position: absolute;
		visibility: visible;
		top: 0;
		left: 50px;
		margin-top: 540px;

		@media (max-height: 630px) {
			margin-top: 470px;
		}

		@media (max-height: 560px) {
			margin-top: 380px;
		}

		@media (max-width: 920px) {
			visibility: hidden;
			opacity: 0;
		}

		&.fixed {
			position: fixed;
			margin-top: 10px !important;
		}
	}

	.post-article {
		font-size: 22px;
		font-family: 'Freight-Book', 'Times';
		line-height: 1.5;

		h1, h2, h3 {
			margin: 60px 0 30px;
		}

		p {
			margin: 0 0 30px 0;

			&.small {
				font-size: 16px;
				color: @color3;
			}

			img {
				float: left;
				margin: 0 20px 0 0;
			}
		}

		blockquote {
			border: none;
			text-align: center;
			padding: 20px 20px 1px;
			text-align: center;

			p {
				font-size: 24px;
				font-style: italic;
				font-weight: 600;
				opacity: .9;
			}
		}

		img {
			max-width: 100%;

			@media (max-width: 640px) {
				width: 100%;
			}
		}
	}

	.post-footer {
		background: @very-light-blue;
		padding: 70px 0 30px;

		@media (max-width: 960px) {
			padding: 40px 0 30px;
		}

		h2 {
			margin: 0 0 -20px 26px;
			color: rgb(124, 124, 136);
			text-transform: uppercase;
			font-size: 18px;

			@media (max-width: 960px) {
				margin-bottom: 30px;
			}
		}
	}

	.fb-comments {
		display: block;
		padding: 0 0 40px 0;

		& > span {
			display: block;
			min-height: 220px;
		}

		iframe {
			position: relative !important;
			min-height: 220px;
		}
	}
}
