{% include header.html %}

<div class="project">
	<header id="header">
		<div class="container">
			<a href="/" class="pull-left">
				<i class="icon-chevron-left"></i>
			</a>
		</div>
	</header>

	<div class="project-title-container">
		<div class="project-title-wrap container {% if page.img %}has-img{% endif %}">
			<div class="project-info container">
				<h1 class="project-title">
					{{ page.title }}
				</h1>
        <p>
          {{ page.description }}
        </p>
			</div>
		</div>
		{% if page.img %}
		<div class="bg-img" style="background-image: url('{{ page.img }}')"></div>
		{% endif %}
	</div>

	<div class="container project-article">
		{{ content }}
	</div>

	<div class="project-footer">
		<div class="container">
			<h2>More writing</h2>
			<ul class="post-stream">
				{% for post in site.posts %}
				{% if forloop.index <= 4 %}
				<li>
					<a href="{{ post.url }}">
						<h3>{{ post.title }}</h3>
						<span>{{ post.date | date_to_string }}</span>
					</a>
				</li>
				{% endif %}
				{% endfor %}
			</ul>
		</div>
	</div>
</div>

{% include footer.html %}
{% include scripts.html %}

</body>
</html>
